fastapi
uvicorn
flask
openai
requests
pysqlite3
python-dotenv
obs-websocket-py
pyttsx3
SpeechRecognition
Pillow
opencv-python
socketio-client
pyvts
pyaudio
numpy
edge-tts
dashscope>=1.25.2
sounddevice
